apiVersion: v1
kind: Secret
metadata:
  name: parlaparser-credentials
  labels:
    app.kubernetes.io/name: parlaparser-credentials
    app: parlaparser-credentials
stringData:
  PARSER_USER: "user"
  PARSER_PASSWORD: "password"
  API_URL: "http://localhost:8000/v3"
